body{
    font-size: 16px;
    text-align: center;
  }

  h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
  }

  ul {
    background-color: cyan;
    line-height: 20px;
    font-style: italic;
  }

  .special-bg {
    background-color: rgb(230, 127, 187);
  }

  p{
    font-weight: 600;
    font-size: 3em;
    text-decoration: wavy rgb(82, 13, 13);
  }

  .pink{
    background-color: pink;
  }
  .green{
    background-color: green;
  }
  .blue{
    background-color: blue;
  }